@import url('');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'opensans',sans-serif;
}
#menu-h{
    background-color: black;
}
#menu-h ul{
    max-width: 800px;
    list-style: none;
    padding: 0;
}
#menu-h ul li{
    display: inline;
}
#menu-h ul li a {
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration:none;
    transition: background.4s;
}
#menu-h ul li a:hover{
    background-color: blueviolet;
}
#menu-h ul li:last-child a{
    float: right;
    background-color: aqua;
}